<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ApiSampleTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7bfbc">  <td>22/11/12 12:38:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UiTest.orderItem()[pri:0, instance:V1.UiTest@e15b7e8]">orderItem</td> 
  <td>main@456785282</td>   <td></td> </tr>
<tr bgcolor="a7bfbc">  <td>22/11/12 12:38:00</td>   <td>-149</td> <td>&nbsp;</td><td title="&gt;&gt;UiTest.readConfig(org.testng.ITestContext)[pri:0, instance:V1.UiTest@e15b7e8]">&gt;&gt;readConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@456785282</td>   <td></td> </tr>
<tr bgcolor="87a792">  <td>22/11/12 12:37:55</td>   <td>-5322</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setupDriver()[pri:0, instance:V1.UiTest@e15b7e8]">&gt;&gt;setupDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@456785282</td>   <td></td> </tr>
</table>
